<div class="trophy-year mt-5" data-trophy-year="{{ trophy.year }}">
  <div class="count-box trophy-label"><button type="button" class="btn btn-outline-dark">{{ trophy.year }}</button></div>
  <div class="count-box"><i class="bi bi-trophy-fill" style="color: #ffd700;"></i><span data-purecounter-start="0" data-purecounter-end="{{ trophy.gold }}" data-purecounter-duration="1" class="purecounter"></span><p><strong>Gold</strong></p></div>
  <div class="count-box"><i class="bi bi-trophy-fill" style="color: #a5a9b4;"></i><span data-purecounter-start="0" data-purecounter-end="{{ trophy.silver }}" data-purecounter-duration="1" class="purecounter"></span><p><strong>Silver</strong></p></div>
  <div class="count-box"><i class="bi bi-trophy-fill" style="color: #6e4d25;"></i><span data-purecounter-start="0" data-purecounter-end="{{ trophy.bronze }}" data-purecounter-duration="1" class="purecounter"></span><p><strong>Brons</strong></p></div>
</div>
